<main>
  <section class="intro-section">
      <div class="description">
        <p class="text-greeting">Hi I am</p>
        <p class="text-name">AFRÂNIO ALVES</p>
        <h1 class="text-job">
            UI  & UX <br />
            <span>Designer</span>
        </h1>
        <p class="text-description">
          Lorem ipsum dolor sit amet consectetur. Tristique amet sed massa Tristique<br />
         nibh lectus netus in. Aliquet convallis donec morbi convallis pretium. Turpis  <br />
         Tristique amet sed massa
        </p>
        <button class="button-hire-me">Hire Me</button>
      </div>
      <img src="../../../assets/img/img-1.svg" alt="me self" class="me-first"/>
  </section>
</main>
